<div class="g_flex g_full_width mb50">
	<div class="heat container container2 g_flex1 mr15" init-data-loading="{{interfaces.indexChapter}}" init-data-loading-storage="fetchChapter" init-data-loading-tpl="difficultyAny.html">
	</div>
	<div class="g_flex g_flex_col">
		<div class="size container score" init-data-loading="{{interfaces.indexScore}}" init-data-loading-storage="d3Score" init-data-loading-tpl="score.html">
		</div>
		<div class="size container studyDifficulty mt15" init-data-loading="{{interfaces.indexKeywords}}" init-data-loading-storage="keywords" init-data-loading-tpl="studyDifficulty.html">
		</div>
	</div>

</div>
