<ul class="g_pagination g_flex">
	<li ng-if="boundaryLinks" class="first radius" ng-class="{disable: noPrevious()}"><a href="" ng-click="selectPage(1)">«</a></li>
	<li ng-if="directionLinks" class="prev radius" ng-class="{disable: noPrevious()}"><a href="" ng-click="selectPage(page - 1)">‹</a></li>
	<li ng-repeat="page in pages track by $index" class="page_num" ng-class="{active: page.active}"><a href="" ng-click="selectPage(page.number)">{{page.text}}</a></li>
	<li ng-if="directionLinks" ng-class="{disable: noNext()}" class="next"><a href="" ng-click="selectPage(page + 1)">下一页›</a></li>
	<li ng-if="boundaryLinks" ng-class="{disable: noNext()}" class="end radius"><a href="" ng-click="selectPage(totalPages)">»</a></li>
</ul>
