<div class='g_flex g_full_width mb50'>
	<div class="container g_flex1 mr15 {%=o.mainSize_class%}" init-data-loading="{%=o.mainSize_data%}" init-data-loading-storage="{%=o.mainSize_storage%}" init-data-loading-tpl="{%=o.mainSize_template%}">
	</div>
	<div class="g_flex g_flex_col">
		<div class="size container {%=o.size1_class%}" init-data-loading="{%=o.size1_data%}" init-data-loading-storage="{%=o.size1_storage%}" init-data-loading-tpl="{%=o.size1_template%}">
		</div>
        {% if (o.size2_template) { %}
		<div class="size container mt15 {%=o.size2_class%}" init-data-loading="{%=o.size2_data%}" init-data-loading-storage="{%=o.size2_storage%}" init-data-loading-tpl="{%=o.size2_template%}">
		</div>
        {% } %}
	</div>
</div>

