<div class="g_flex g_full_width mb50">
	<div class="size mr15 container {%=o.size1_class%}" init-data-loading="{%=o.size1_data%}" init-data-loading-storage="{%=o.size1_storage%}" init-data-loading-tpl="{%=o.size1_template%}">
	</div>
	<div class="size mr15 container {%=o.size2_class%}" init-data-loading="{%=o.size2_data%}" init-data-loading-storage="{%=o.size2_storage%}" init-data-loading-tpl="{%=o.size2_template%}">
	</div>
	<div class="size container {%=o.size3_class%}" init-data-loading="{%=o.size3_data%}" init-data-loading-storage="{%=o.size3_storage%}" init-data-loading-tpl="{%=o.size3_template%}">
	</div>
</div>
