<div class="dot_matrix_wrap_popup_question">
	<div class="mt5 mb10">
		<img class="dot_matrix_wrap_popup_avatar" ng-src="{{:: avatar ? avatar : staticDir + '/icon/avatar.png'}}"><span class="dot_matrix_wrap_popup_username">{{:: username}}</span>
	</div>
	<ul class="dot_matrix_wrap_popup_answer">
	</ul>
	<div class="dot_matrix_wrap_popup_chapter">
		考试
	</div>
	<div class="dot_matrix_wrap_popup_title mb5 mt5">
		<span>{{:: exam_name}}</span>
	</div>
	<ul class="dot_matrix_wrap_popup_answer">
	</ul>
	<div class="mb5">
		得分：<span>{{:: score}}</span>
	</div>
</div>
