$g_width: 1000px !default;

$opacity_gray: rgba(0, 0, 0, .3) !default;
$light_gray: #bfbfbf !default;
$strange_gray: #9baeb2 !default;
$dark_blue: #0b0e30 !default;
$blue: #009ee3 !default;
$strange_blue: #09306b !default;
$light_blue: #e9f2f8 !default;
$green: #0cc99a !default;
$dark_green: rgb(112, 205, 67) !default;
$light_green: #79D0D1 !default;
$red: #ec482c !default;
$dark_red: #F37469 !default;
$purple: #8957a1 !default;
$pink: #ea68a2 !default;
$light_orange: rgb(255, 108, 91) !default;
$black: #343c47 !default;

$icon: "xt" !default;
$num_font: "num" !default;
$images_root:"//storage.xuetangx.com/public_assets/xuetangx/images/analysis_teaching";
